* {
    margin: 0;
    padding: 0;
    border: 0;
  }



.center {
    justify-content: center;
    align-items: center;
    text-align: center;
    position:relative;
    display:block;
}

h1 {
     color: #b48608; 
     font-family: 'Droid serif', serif; 
     font-size: 36px; 
     font-weight: 400; 
     font-style: italic; 
     line-height: 44px; 
     text-align: center; 
     margin: 0 0 12px;
}

.imagenMenu{
    width: 450px;
    height: 350px;
    border: solid;
    border-color: black;
    border-width: 1px;
    border-radius: 10%;
    opacity: 0.7;
    margin-top: 5.0rem;
}

.imagenMenu:hover{
    opacity: 0.99; 
}

.producto{
    height: 350px;
    max-width: 350px;
    border: solid;
    border-color: rgb(230, 230, 230);
    border-width: 1px;
    opacity: 0.7;
}

.producto:hover{
    opacity: 0.99; 
}

.imagenProducto{
    height: 200px;
    max-width: 200px;
    margin:40px;
}

.divProductos{
    margin-top: 5.0rem;
    margin-left: 6.0rem;
}
